<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Convênio</title>
    <bookmarks>
        <bookmark name="Convenio" href="#convenio"></bookmark>
    </bookmarks>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<div style="text-align: center;">
    <img class="logo" src="images/unicamp_logo.png"/>
</div>

<h5 style="text-align:right">Limeira, ....... de ........................... de 20......</h5>

<p>Ilma. Profa. Dra. GERUSA DE CÁSSIA SALADO <br/>
    Coordenadora de Extensão da FT/UNICAMP</p>

<h4 style="text-align: center">SOLICITAÇÃO DE AUTORIZAÇÃO PARA EXERCÍCIO DE ATIVIDADES SIMULTÂNEAS <br/>
    (Regência Concomitante)</h4>

<p align="justify">
    Eu,
    ................................................................,
    Prof Dr MS-
    ............ em RDIDP nesta faculdade, matrícula nº........................., venho através desta, em atendimento a
    Deliberação
    CONSU-A-02-2001 (Artigos 8º, 9º e 12º), solicitar autorização para realização de atividades simultâneas, descritas a
    seguir:
</p>

<h4>Tipo de Atividade simultânea: Convênio</h4>

<p>Nome da Instituição de ensino superior: <span th:text="${convenio.instituicao}"></span></p>
<p>Nível: <span th:text="${convenio.instituicao}"></span> ( ) Graduação ( ) Pós-graduação</p>
<p>Curso:..........................................</p>
<p>Disciplinas (com carga horária): .............................................................................</p>
<p>Será o responsável pela disciplina: ( ) Sim ( ) Não</p>
<p>Será o único docente da disciplina: ( ) Sim ( ) Não</p>
<p>Carga horária total das aulas a serem ministradas: ..............................................</p>
<p>Carga horária total dedicada (aulas + preparação e outras atividades): ....... horas (semanal) / .......
    horas(mensal)</p>
<p>Valor bruto recebido por aulas: R$..............por hora-aula / R$ .................pelo total de aulas</p>
<p>Valor bruto total recebido por outras atividades: R$ .................................</p>
<p>Período de participação: ................................................. a
    ............................................</p>
<p>Dias e horários semanais que trabalhará na:</p>
<p>Unicamp: </p>
<p>Outra instituição: </p>

<!-- Students Table -->
<!--<div id="students">-->
<!--    <div th:if="${not #lists.isEmpty(students)}">-->
<!--        <table class="students_table paginate-table">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Name</th>-->
<!--                <th>Last Name</th>-->
<!--                <th>Nationality</th>-->
<!--                <th>University</th>-->
<!--                <th>Active</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="student : ${students}">-->
<!--                <td th:text="${student?.id}"></td>-->
<!--                <td th:text="${student?.name}"></td>-->
<!--                <td th:text="${student?.lastName}"></td>-->
<!--                <td th:text="${student?.nationality}"></td>-->
<!--                <td th:text="${student?.university}"></td>-->
<!--                <td th:text="${student?.active}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>