<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Convênio</title>
    <bookmarks>
        <bookmark name="Regencia" href="#regencia"></bookmark>
    </bookmarks>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>

<body>
<div style="text-align: center;">
    <img class="logo" src="images/unicamp_logo.png"/>
</div>

<h5 style="text-align:right">Limeira, <span th:text="${dia}"></span> de <span th:text="${mes}"></span> de <span
        th:text="${ano}"></span></h5>

<p>Ilma. Profa. Dra. <span th:text="${coordenador}"></span> <br/>
    Coordenadora de Extensão da FT/UNICAMP</p>

<h4 style="text-align: center">SOLICITAÇÃO DE AUTORIZAÇÃO PARA EXERCÍCIO DE ATIVIDADES SIMULTÂNEAS <br/>
    (Cursos de Extensão)</h4>

<p align="justify">
    Eu, <span th:text="${regencia.docente.nome}"></span>, Prof Dr. <span th:text="${titulo}"></span> em RDIDP nesta faculdade,
    matrícula nº <span th:text="${regencia.docente.matricula}"></span>, venho através desta, em atendimento a
    Deliberação CONSU-A-02-2001 (Artigos 8º, 9º e 12º), solicitar autorização para realização de atividades simultâneas,
    descritas a
    seguir:
</p>

<h4>Tipo de Atividade simultânea: Regência Concomitante</h4>

<p>Nome da Instituição de ensino superior: <span th:text="${regencia.instituicao}"></span></p>
<p>Nível: <span th:text="${regencia.nivel}"></span></p>
<p>Curso: <span th:text="${regencia.curso}"></span></p>
<p>Disciplinas (com carga horária): <span th:text="${regencia.disciplinaParticipacao}"></span></p>
<p>Será o responsável pela disciplina: <span th:text="${regencia.responsavel} ? 'Sim' : 'Não'"></span></p>
<p>Será o único docente da disciplina: <span th:text="${regencia.unicoDocente} ? 'Sim' : 'Não'"></span></p>
<p>Carga horária total das aulas a serem ministradas: <span th:text="${regencia.totalHorasMinistradas?:'0'}"></span> horas</p>
<p>
    Carga horária total de outras atividades (preparação): <span
        th:text="${regencia.totalHorasOutrasAtividades?:'0'}"></span> horas
</p>
<p>Valor bruto recebido por hora: R$ <span th:text="${regencia.valorBrutoHora?:'0'}"></span></p>
<p>Valor bruto total: R$ <span th:text="${regencia.valorBrutoTotal} ?: '0'"></span></p>
<p>Período de participação: <span th:text="${regencia.prazo} ?: '0'"></span> meses</p>
<p>Dias e horários semanais que trabalhará na:</p>
<p>Unicamp: <span th:text="${regencia.diasTrabalhadosUnicamp}?: '-'"></span></p>
<p>Outra instituição: <span th:text="${regencia.diasTrabalhadosOutraInstituicao}?: '-'"></span></p>

<p>Declaro que:</p>
<ul>
    <li th:if="${ not#lists.isEmpty(alocacoes)}">
        <p>
            Estou ciente da Deliberação CONSU-A-02/2001, e já comprometido com as atividades de extensão abaixo:
        </p>
        <table style="width: 100%; border: 1px solid black; ">
            <tr>
                <th>Atividade</th>
                <th>Tipo</th>
                <th>Semestre</th>
                <th>Ano</th>
                <th>Horas Aprovadas</th>
            </tr>
            <tr th:each="alocacao : ${alocacoes}">
                <td th:text="${alocacao.atividade.projeto}"></td>
                <td th:text="${alocacao.atividade.tipo}"></td>
                <td th:text="${alocacao.semestre}"></td>
                <td th:text="${alocacao.ano}"></td>
                <td th:text="${alocacao.totalHorasAprovadas}"></td>
            </tr>
        </table>
    </li>
    <li>
        <p>
            Estou ciente da GR036/2008, sobre taxas de ressarcimento à Universidade oriundos de convênios, contratos e
            cursos de extensão, quando houver remuneração pelas atividades simultâneas;
        </p>
    </li>
    <li>
        <p>
            Estou ciente de que para que a atividade aqui descrita tenha continuidade além do prazo especificado acima,
            deverei solicitar uma nova autorização para exercê-la.
        </p>
    </li>
</ul>

<p>
    Atenciosamente, <br/>
    Prof Dr <span th:text="${regencia.docente.nome}"></span>
</p>

</body>
</html>